language: node_js
node_js:
- '0.10'
env:
  global:
  - secure: aBXRxhP3Ig+4wKywBpBhgwAbbmdyXXt3t95yEXHbeh+UgMQmuE8/GnvmW3BdIHVANzknIp+pCeLHqnQQodGdyh08BbVdRQEelnZBegmn8OvTrIpO/UEh0etu/vVcWBZ/nqgj6IfIRe+n1HhpfCC9kSGFU/bx/wvdCOc6MVl+7ec=
  - secure: I0E+mUXEYy4qycmFBTAI+ZkXnGE3bi/YUZUVxbtZmHSl4+sQfRy1HvRTxmcTW09NfMrHhoe6FcciOgUTzfW4XttdeqxmaeXqNdZLfizAaGkAWGZMtGkAZS2YVXVwyM1Uf1kO9R0UijhEBjSpabY20HONJtKxqua3Jq6IU9qBeEw=
